certifi==2025.10.5
charset-normalizer==3.4.3
distlib==0.4.0
docutils==0.22.2
filelock==3.20.0
filetype==1.2.0
ffpyplayer==4.5.3
idna==3.11
Kivy==2.3.1
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
Kivy-examples==2.3.1
Kivy-Garden==0.1.5
kivy_deps.gstreamer==0.3.4
kivy_deps.sdl2==0.8.0
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.5.0
ptyprocess==0.7.0
Pygments==2.19.2
pypiwin32==223
pywin32==311
requests==2.32.5
sh==2.2.2
typing_extensions==4.15.0
urllib3==2.5.0
virtualenv==20.35.3
